.wa {
    background-color: #FF6666;
}
.ac {
    background-color: #CCFF99;
}

.tle {
    background-color: #FFFF99;
}

.re {
    background-color: #FF3333;
}

.frozen {
    background-color: #99CCFF;
}